body h1, body p, body h2{
    font-family: "Inter", serif;
}

.topbar-icon {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: white;
    margin-top: 75px;
}

.neon {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff,
        0 0 50px #7FD0F3;
}

.button {
    height: 55px;
    width: 160px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}

.button p {
    color: white;
    font-size: 20px;
}

.button i {
    color: white;
    transition: all ease-in-out 0.3s;
}

.button:hover {
    transform: scale(1.02);
}

.button:hover > i {
    transform: translateX(3px);
}

@media (max-width: 768px) {
    .button {
        height: 45px;
        width: 120px;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        gap: 7px;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out 0.3s;
    }

    .button p {
        color: white;
        font-size: 14px;
    }

    .topbar-icon {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: white;
        margin-top: 55px;
    }
}